<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Anazon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}">Product</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Order</a>
        </li>
        <li class="nav-item">
          <!-- use next to store the url before login -->
          <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <!-- use next to store the url before login -->
          <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <button class="btn btn-primary dropdown-toggle"  data-bs-auto-close="outside" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Cart
          </button>
          <ul class="dropdown-menu" id="cart" aria-labelledby="dropdownMenuButton1">
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>