@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html { 
    margin-bottom: 35px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.nav-item {
    margin-bottom: 5px;
}

.tags {
    margin-bottom: 5px; 
}

#product_description{
    font-size: 28px;
}


#login_form, #register_form, #shipping_form, #order_content {
    display: inline-block;
    text-align: left;
}

#cart{
    min-height: 500px;
    min-width: 500px;
    max-height: 300px;
    overflow-y: scroll;
    width: max-content;
    height: max-content;
}

#dropdown_cartitem{
    width: 400px;
}

#cart_message, #order_message, #success_message, #cancel_message {
    text-align: center;
    line-height: 400px;   
}

#detail_cartitem {
    width: 55%;
}

#order {
    width: 55%;
}

.featurette, .featurette-divider{
    margin-left: 20%;
    margin-right: 20%;
}