{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="text-center container py-5">
    <h1>Checkout</h1>
    <br>
    <div class="row">
    <div class="col-md-8">
        <div>
            <h2>Product details</h2>
            {% for cart_item in cart_items %}
            <div class="col d-flex justify-content-center">
                <div class="card mb-3 shadow" id="detail_cartitem">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                        <img src="{{ cart_item.product.image }}" height="200" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ cart_item.product.title }}</h5>
                            <p class="card-text">${{ cart_item.product.price |floatformat:2 }}</p>
                            <p class="card-text">Quantity: {{ cart_item.quantity }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <h3>Total: ${{ total |floatformat:2 }}</h3>
        </div>
    </div>
    <br>
    <br>

    <div class="col-md-4">
    <div>
        <h2>Shipping details</h2>
        <div id="shipping_form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Pay</button>
            </form>
        </div>
    </div>  
    </div>

    </div>
</div>

<script src="{% static 'js/dial_code.js' %}"></script>
{% endblock content %}