{% extends 'main.html' %}
{% block content %}
<div>
    <form method="GET" action="{% url 'product' %}">
        <input type="text" name="search" placeholder="Search Product"/>
    </form>
</div>

<div>
    <a href="{% url 'product' %}">All</a>
    {% for category in categories %}
    <a href="{% url 'product' %}?tag={{category.name}}" >{{category.name}}</a>
    {% endfor %}
</div>

<div>
    {% for tag in tags %}
    <a href="{% url 'product' %}?search={{request.GET.search}}&tag={{tag.name}}" >{{tag.name}}</a>
    {% endfor %}
</div>

<div>
    {% for product in products %}
    <h1>{{product.title}}</h1>
    <img src="{{product.image}}" alt="">
    <p>${{product.price}}</p>
    <hr>
    {% endfor %}
</div>
{% endblock content %}